@inherits LayoutComponentBase


<div class="container-fluid">
    <div class="row g-0 min-vh-100">
        
        <!-- Venstre kolonne -->
        <div class="col-md-9 col-lg-2 bg-dark">
            <div class="d-flex flex-column h-100">
                <div class="bg-primary text-white p-3">
                    <h2 class="h5 mb-0">BlazorPlayGround</h2>
                </div>
                <nav class="flex-grow-1 p-3">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item mb-1">
                            <a href="/" class="nav-link text-white">🏠 Hjem</a>
                        </li>
                        <li class="nav-item mb-1">
                            <a href="/01/Hello" class="nav-link text-white">👋 Hello</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
        <!-- Høyre kolonne -->
        <div class="col-md-9 col-lg-10 bg-light">
            <main class="p-4">
                @Body
            </main>
        </div>
        
    </div>
</div>
